.form-group.row.align-items-center
    h5(id="getActivity").col-5.text-success getActivity
    .data
      pre.mt-3.p-1.text-center.border.rounded
        code(json).mx-auto
          |  fname: 'getActivity'
p Obtener actividad
.row.justify-content-center.mt-2
    .col.mx-2
        p.lead Body(JSON)
        div(style="height: 6rem" class=" bg-light rounded border")
            .data
                pre.p-2
                    code(json)
                        |{
                        |     fname<span class="text-danger">*</span>: 'getActivity',
                        |     id_activity<span class="text-danger">*</span>: String,
                        | }

    .col.mx-2
        p.lead Response(JSON)
        div(style="height: 34rem" class=" bg-light rounded border")
            .data
                pre.p-2 
                    code(json)
                        |{
                        |   message: "Actividad"
                        |   activity: {
                        |     nickname:String,
                        |     region:String,
                        |     createdBy:String,
                        |     title:String,
                        |     activity:{
                        |       title:String,
                        |       filetype:String,
                        |       name_file : String,
                        |       pathURL : String
                        |     },
                        |     module:Number,
                        |     name_module:String,
                        |     block:Number,
                        |     name_block:String,
                        |     section:Number,
                        |     name_section:String,
                        |     file:String,
                        |     finished: Number
                        |     state:Boolean,
                        |     number_of_downloads:Number
                        |    }
                        |}
