.form-group.row.align-items-center
    h5.col-3.text-success Add Report
    .data
        pre.mt-3.p-1.text-center.border.rounded
            code(json).mx-auto
                |  fname: 'addReport'
p Crear un nuevo reporte <span class="text-danger">*Disponible para coordinadores (rol 7)*</span>
br
.row.justify-content-center.mt-2
    .col.mx-2
        p.lead Body(JSON)
        div(style="height: 10rem" class=" bg-light rounded border")
            .data
                pre.p-2
                    code(json)
                        |{
                        |     fname<span class="text-danger">*</span>: 'addReport',
                        |     id_coordinator<span class="text-danger">*</span>: String,
                        |     id_kpi<span class="text-danger">*</span>: String,
                        |     content<span class="text-danger">*</span>: String,
                        | }
    
    .col.mx-2
        p.lead Response(JSON)
        div(style="height: 15rem" class=" bg-light rounded border")
            .data
                pre.p-2 
                    code(json)
                        |{
                        |     message:"Report save successfully",
                        |     report: {
                        |         _id: String,
                        |         idKPI: String,
                        |         content: String,
                        |         created_by: String,
                        |         createdAt: Date,
                        |         updatedAt: Date,
                        |     }
                        |  }
