.form-group.row.align-items-center.p-0
        h5(id="addUserToGestor").col-3.text-success Insert user into gestor
        .data
            pre.mt-3.p-1.text-center.border.rounded
                code(json).mx-auto
                    |  fname: 'addUserToGestor' 
p vincular usuarios (asesor y/o psicologo) con gestor
p Nota:
ul
    li "id_user" : id de psicologo o asesor             
br
.row.justify-content-center.mt-2
    .col.mx-2
        p.lead Body(JSON)
        div(style="height: 8rem" class=" bg-light rounded border")
            .data
                pre.p-2
                    code(json)
                        |{
                        |     fname<span class="text-danger">*</span>: 'addUserToGestor',
                        |     id_gestor<span class="text-danger">*</span>: 'String',
                        |     id_user<span class="text-danger">*</span>: 'String' 
                        | }
    .col.mx-2
        p.lead Response(JSON)
        div(style="height: 7rem" class=" bg-light rounded border")
            .data   
                pre.p-2 
                    code(json)
                        |{
                        |    message : "usuario vinculado correctamente con gestor"  
                        |}
