.form-group.row.align-items-center
    h5(id="answerQuestion").col-3.text-success Answer Question
    .data
        pre.mt-3.p-1.text-center.border.rounded
            code(json).mx-auto
                |  fname: 'answerQuestion'
p Responder una pregunta
br
.row.justify-content-center.mt-2
    .col.mx-2
        p.lead Body(JSON)
        div(style="height: 9rem" class=" bg-light rounded border")
            .data
                pre.p-2
                    code(json)
                        |{
                        |     fname<span class="text-danger">*</span>: 'answerQuestion',
                        |     id_question<span class="text-danger">*</span>: String,
                        |     id_answeredBy<span class="text-danger">*</span>: String,
                        |     answer<span class="text-danger">*</span>: String,
                        | }
        
    .col.mx-2
        p.lead Response(JSON)
        div(style="height: 9rem" class=" bg-light rounded border")
            .data
                pre.p-2 
                    code(json)
                        |{
                        |     message:"Question answered correctly",
                        |  }
