.form-group.row.align-items-center
    h5(id="getQuestionHistory").col-3.text-success GetQuestionHistory
    .data
        pre.mt-3.p-1.text-center.border.rounded
            code(json).mx-auto
                |  fname: 'getQuestionHistory'
p Obtener historial de preguntas de un profesor del más reciente al más antiguo
br
.row.justify-content-center.mt-2
    .col.mx-2
        p.lead Body(JSON)
        div(style="height: 10rem" class=" bg-light rounded border")
            .data
                pre.p-2
                    code(json)
                        |{
                        |     fname<span class="text-danger">*</span>: 'getQuestionHistory',
                        |     id_teacher<span class="text-danger">*</span>: String,
                        |     module<span class="text-danger">*</span>: String
                        |     section<span class="text-danger">*</span>: String
                        |     block<span class="text-danger">*</span>: String
                        | }
    
    .col.mx-2
        p.lead Response(JSON)
        div(style="height: 26rem" class=" bg-light rounded border")
            .data
                pre.p-2 
                    code(json)
                        |{
                        |     message:"questions founded",
                        |     question: [{
                        |         question: String,
                        |         answer: String,
                        |         files_answer: [{
                        |           download_id: String,
                        |           uploadedByTeacher: Boolean,
                        |           name_file: String,
                        |           pathURL: String
                        |         }, {...}],
                        |         files_question: [{
                        |           download_id: String,
                        |           uploadedByTeacher: Boolean,
                        |           name_file: String,
                        |           pathURL: String
                        |         }, {...}]
                        |     }, {...}]
                        |  }
