div.rounded.bg-light.border.p-4.mt-4
    h3(id="addQuestion").text-center Question
    hr
    .row.justify-content-between.align-items-center
        .col-4.form-group.row.align-items-center.text-center.mx-2
            label.col-form-label.col Method: 
            input(type="text" value="POST" class="form-control col text-center text-primary" readonly)

        .col-4.form-group.row.align-items-center.text-center.mx-2
            label.col-form-label.col route: 
            input(type="text" value="/api/question" class="form-control col text-center text-primary" readonly)


        .col-8.form-group.row.align-items-center.text-center.mx-auto
            label.col-form-label.col-3 Headers: 
            .data
                pre.mt-3.border.rounded.p-1
                    code(json)
                        | { <span class="text-success">Authorization</span>: 'Bearer ${token}' }

    hr
    include addQuestion.pug
    hr
    include getQuestionHistory.pug
    hr
    include getQuestionForo.pug
    hr
    include getRankingQuestion.pug
    hr
    include answerQuestion.pug