.form-group.row.align-items-center
    h5.col-3.text-success getTeachers 
    .data
        pre.mt-3.p-1.text-center.border.rounded
            code(json).mx-auto
                |  fname: 'getTeachers'
p Obtener profesores y directivos a cargo de un gestor, psicólogo o asesor.
span.text-danger *Disponible solo para gestores (6), asesores (3) y psicólogos (2)* 
br
br
.row.justify-content-center.mt-2
    .col.mx-2
        p.lead Body(JSON)
        div(style="height: 6rem" class=" bg-light rounded border")
            .data
                pre.p-2
                    code(json)
                        |{
                        |     fname<span class="text-danger">*</span>: 'getTeachers',
                        |     id_manager<span class="text-danger">*</span>: String,
                        | }

    .col.mx-2
        p.lead Response(JSON)
        div(style="height: 27rem" class=" bg-light rounded border")
            .data
                pre.p-2 
                    code(json)
                        |{
                        |     message: `Profesores de ${ nickname }`,
                        |     teachers: [{
                        |       _id: String,
                        |       name: String,
                        |       nickname: String,
                        |       gender: String,
                        |       lastname: String,
                        |       displayname: String,
                        |       password: String,
                        |       email: String,
                        |       createBy: String,
                        |       active: Boolean,
                        |       upgrade: String,
                        |       photo: String,
                        |       courses: [],
                        |       rol: String,
                        |       teachers: [],
                        |     }, {...}]
                        |  }
