.form-group.row.align-items-center
    h5(id="getStudents").col-3.text-success Get Students
    .data
        pre.mt-3.p-1.text-center.border.rounded
            code(json).mx-auto
                |  fname: 'getStudents'
p Obtener estudiantes de un profesor que ha iniciado sesión
br
.row.justify-content-center.mt-2
    .col.mx-2
        p.lead Body(JSON)
        div(style="height: 6rem" class=" bg-light rounded border")
            .data
                pre.p-2
                    code(json)
                        |{
                        |     fname<span class="text-danger">*</span>: 'getStudents'
                        | }

    .col.mx-2
        p.lead Response(JSON)
        div(style="height: 18rem" class=" bg-light rounded border")
            .data
                pre.p-2 
                    code(json)
                        |[
                        |     {
                        |          id: String,
                        |          name: String,
                        |          lastname: String,
                        |          dni: String,
                        |          code: String,
                        |          age: String,
                        |          covid: Boolean,
                        |          origin: String
                        |      }, {...}
                        | ]
